.postsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.3rem;
  row-gap: 4.3rem;
  margin-top: 3rem;
}

.allPostsBtn {
  border: 1px solid #111827;
  width: 100%;
  padding: 1.4rem 0;
  text-align: center;
  transition: all 0.3s;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.allPostsBtn:hover {
  background: #111827;
  color: #fff;
}

/* Page Index */
.mainAside {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-gap: 4.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 1600px) {
  .postsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .mainAside {
    grid-template-columns: 0.7fr 0.3fr;
  }
}

@media (max-width: 1200px) {
  .postsGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .mainAside {
    grid-template-columns: 0.65fr 0.35fr;
    grid-gap: 10rem;
  }
}

@media (max-width: 1000px) {
  .postsGrid {
    column-gap: 2.3rem;
  }

  .mainAside {
    grid-gap: 5rem;
    grid-template-columns: 0.58fr 0.42fr;
  }
}

@media (max-width: 800px) {
  .mainAside {
    grid-template-columns: 1fr;
  }
  .postsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
